<div class="home-screen-view">
  <div class="home-screen-title"></div>
  <div class="scav-level-items-title">
    <p><%= title %></p>
  </div>
  <div class="fcv scav-level-items">
    <div class="fl scav-beginner-level-item">
      <!-- TODO: Lookup the beginner scav in the array of scavs passed in using templates. Set the style value with the -->
      <!-- TODO: backgroundURL strings and id values you passed in at render time -->
      <!-- TODO: Insert the backgroundURL string immediately before the the padding attribute WITHIN the style value, and be sure to close it with a semicolon. -->
      <a href="#" data-scavid="" class="ui-cta" style="padding: 62px 62px;">
        <!-- TODO: Drop a template tag for the level name below, between the span tags. -->
        <!-- TODO: Inline text color styling as part of the styling lab -->
        <span style="color: #000000"></span>
      </a>
      <div class="fl scav-beginner-highlighted">&nbsp</div>
    </div>
    <div class="fl scav-intermediate-level-item">
      <!-- TODO: Same as above for here -->
      <!-- TODO: Insert the backgroundURL string immediately before the the padding attribute WITHIN the style value, and be sure to close it with a semicolon. -->
      <a href="#" data-scavid="" class="ui-cta" style="padding: 62px 62px;">
        <!-- TODO: Drop a template tag for the level name below, between the span tags. -->
        <!-- TODO: Inline text color styling as part of the styling lab -->
        <span style="color: #000000"></span>
      </a>
      <div class="fl scav-intermediate-highlighted">&nbsp</div>
    </div>
    <div class="fl scav-expert-level-item">
      <!-- TODO: Same as the first list item for here -->
      <!-- TODO: Insert the backgroundURL string immediately before the the padding attribute WITHIN the style value, and be sure to close it with a semicolon. -->
      <a href="#" data-scavid="" class="ui-cta" style="padding: 62px 62px;">
        <!-- TODO: Drop a template for the level name below between the span tags -->
        <!-- TODO: Inline text color styling as part of the styling lab -->
        <span style="color: #000000"></span>
      </a>
      <div class="fl scav-expert-highlighted">&nbsp</div>
    </div>
  </div>
  <div class="begin-scav-action">
    <a href="#" class="begin-scav">
      <!-- TODO: Drop the button name inside the anchor below -->
      <!-- TODO: Inline text color styling as part of the styling lab -->
      <span style="color: #000000"></span>
    </a>
  </div>
</div>